{% extends 'contas/base.html' %}

{%block active_nav_item%}

<li class="nav-item">
    <a class="nav-link" href="{%url 'home'%}">Listar Todos</a>
</li>

<li class="nav-item active">
    <a class="nav-link" href="{% url 'nova_transacao' %}">Nova Transação</a>
</li>

{%endblock%}

{% block base %}
<h1 class="text-center"> Nova Transição </h1>
<hr>
<form method="POST" class="text-center">
    {%csrf_token%}
    <div class="form-group row">
        <label class="col-1"> Descrição: </label>
        <div class="col-5">
            {{form.descricao}}
        </div>
        <label class="col-1"> Valor: </label>
        <div class="col-5">
            {{form.valor}}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-1"> Data: </label>
        <div class="col-5">
            {{form.data}}
        </div>
        <label class="col-1"> Categoria: </label>
        <div class="col-5">
            {{form.categoria}}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-1">Observação:</label>
        <div class="col-11">
            {{form.observacoes}}
        </div>
    </div>
    <button class="btn btn-success" type="submit">Salvar</button>
    {% if transacao %}
    <button class="btn btn-danger"><a class="delete_link" href="{% url 'delete_transacao' transacao.id %}"> Deletar </a></button>
    {% endif %}
    {% endblock %}
    scr
</form>

