{% extends 'contas/base.html' %}

{%block active_nav_item%}


<li class="nav-item active">
    <a class="nav-link" href="{%url 'home'%}">Listar Todos</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'nova_transacao' %}">Nova Transação</a>
</li>

{%endblock%}

{% block base %}
<h1>Transações: </h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Data</th>
        <th scope="col">Categoria</th>
        <th scope="col">Observações</th>
    </tr>
    </thead>
    <tbody>
    {% for transacao in transacoes %}
    <tr>
        <td>{{transacao.descricao}}</td>
        <td>{{transacao.valor}}</td>
        <td>{{transacao.data}}</td>
        <td>{{transacao.categoria}}</td>
        <td>{{transacao.observacoes}}</td>
        <td><a href="{% url 'editar_transacao' transacao.id %}"><i class="fas fa-edit"></i></a></td>
    </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}